body {


}

#left-div-container
{
    width:100%;
}

#right-div-container
{
    visibility:hidden;
}

.Res_IMG
{
    height:18%;
    width:auto;

}

.res_Table
{
    width:100%;
    margin:0 auto;
}

.res_Table td
{
    width:140px;
    white-space:nowrap;
    padding-bottom:2%;
    padding-right:1em;
}

.res_Table th
{
    text-decoration:underline;

}

    .res_Table tr 
{
        margin-bottom:2%;
    }
.res_Table
{
    width:auto;
}

.res_Naam
{
    text-decoration:solid;
}

.res_Locatie
{

}

.res_Aanvang
{
    
}

.res_Prijs
{
    
}