body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url('img/Haarlem.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
        font-family: 'Ubuntu', sans-serif;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0 dotted;
  border-bottom: 4px solid #000000;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}


/*Begin van pagina start hier...*/
#div-center {
    width: 60%;
    margin: 0 auto;
}

#left-div-container {
    width: 67.5%;
    float:left;
    background-color: #454A4E;
    color: white;
    padding: 1%;
    padding-bottom: 14% !important;
    padding-left: 2% !important;
}
#right-div-container {
    width: 25.5%;
    float:right;
    background-color: #454A4E;
    color: white;
    text-align: center;
}

#footer-div-container {
    clear:both; /*zo komt ie onder de 2 float elementen hierboven*/
    padding-top: .5%;
}

a {
    color: #E4494F;
}
a:link {
    color: #E4494F;
    text-decoration: none;
}
a:visited {
    color: #E4494F;
    text-decoration: none;
}

a:hover {
    color: #E4494F;
    cursor:pointer;
}

a:active {
    color: #E4494F;
    text-decoration: none;
}

.nowrap {
    white-space: nowrap;
}




p.p-title {
    font-weight: bold;
    padding: 5%;
}
p.p-tekst {
    font-weight:300;
}


/*max-width is mobiel:*/
@media (max-width: 768px) {
    #right-div-container {
        display:none;
    }

    #left-div-container {
        width:95%;
        margin: 0 auto;
        float:unset;
        
        text-align: left;   
        padding-left:2.5%;
        padding-right:1.5%;
    }

        p.p-title {
            text-align: center;        
        }
        #welcome-intro {
            text-align: center;  
        }

    #div-center {
        width:85%;
        margin: 0 auto;      
    }    
}