@{
    ViewBag.Title = "Wishlist";
}
@using ihff.Models;

<!--Wishlist Partial HTML pagina-->

<div>
    @if (Session["wishList"] != null)
    {
        List<Item> sessionList = Session["wishList"] as List<Item>;
        var q = from x in sessionList
                group x by x.Name into g
                let count = g.Count()
                orderby count descending
                select new { Value = g.Key, Count = count };

    @:<p><b>Wishlist</b></p>
    foreach (var i in q) {
            //string.Format("{0}", i.Name);
            //@i.Name;
            string lijn = (i.Value + " " + i.Count + "x");
            @lijn;
            @:<br/>
        }
    } else {
        <p class="p-title">This is your wishlist, it is empty at the moment. You can add <a>movies</a>, <a>lectures</a> and <a>restaurants</a> to your wishlist by clicking the add to wishlist button.</p>
    }
</div>
