@model IEnumerable<ihff.Models.Reservation>
@{var ordersMetItems = ViewBag.samendinges;}

@{
    ViewBag.Title = "Index";
}

<h2> Reservations </h2>

@foreach (var s in ordersMetItems)
{
    <p> @s.Ammount </p>
}
