@model IEnumerable<ihff.Models.OrderItemCombined.OrderItem>

@{List<Order> allorders = new List<Order>(); }
@{
    ViewBag.Title = "Index";

    ViewBag.allOrders = allorders;
    //ViewBag.allItems = allItems;
}

<h2> Reservations </h2>

<!-- foreach (var s in ordersMetItems)
{
    <p> //s.Ammount </p>
} -->