@model IEnumerable<ihff.Models.OrderItemCombined>
@{List<Order> allOrders = ViewBag.allOrders;}

@{
    ViewBag.Title = "Index";
}

<h2> Reservations </h2>

@foreach (var s in ordersMetItems)
{
    <p> @s.Ammount </p>
}