@model ihff.Models.Reservation

@{
    ViewBag.Title = "PaymentSucces";
}

<h2>PaymentSucces</h2>

<div> Your order has been confirmed</div>
<div> Take note of this code "@Model.ReservationCode" as this will be the way to retrieve your tickets</div>
<div> You can choose to send your reservation per email @Html.TextBox("email");</div>
<div> Or print it directly from our page </div>