
@{
    ViewBag.Title = "Food & Film";
}

<h3>Food & Film Ticket</h3>
<p>Haarlem has an exquisite culinary culture, that is why we selected the best restaurants too take part in this years festival. To promote these restaurants we bring you the Food & Film Ticket. Dining as the appetiser and a beautiful movie as a dessert.</p>
<p>A Food & Film ticket will save you some money and introduces you to the finest restaurants in the area. To order a Food & Film Ticket, navagate to the movie you would like to see and open its details page. From this page you will have the option to order a Food & Film Ticket.</p>
<p>To choice your movie go to the @Html.ActionLink("Movie", "Movies", "Home") page</p>