@{
    ViewBag.Title = "Home Page";
}

<link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/filmObject.css")" rel="stylesheet" type="text/css" />


        <div>
            <h3>Introduction</h3>
            <p class="p-tekst">HOI ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec turpis in urna dictum eleifend faucibus at neque. Nulla nec hendrerit risus. Nunc quam tellus, ullamcorper nec ante eu, lacinia vestibulum sem. Cras ornare porta lectus, et tincidunt nibh tincidunt at. Cras tincidunt, nisi non porta molestie, tellus sapien venenatis sapien, sed sodales risus orci nec massa. Sed vehicula augue in dui semper mattis. Quisque mattis interdum enim quis dictum. Nullam sit amet pretium mauris. Aliquam nec tristique ligula. Donec consequat nisl sit amet scelerisque vehicula. Aenean consequat efficitur neque, eu volutpat ex fermentum nec.</p>
            <p class="p-tekst">Nullam ac volutpat nibh, eu ultrices lorem. Pellentesque vitae turpis venenatis, feugiat ex sed, elementum sem. Cras in tincidunt nisl, non laoreet purus. Donec est purus, consequat vitae tempor at, aliquet consectetur diam. Aliquam aliquet luctus ligula, vel luctus est porta at. Duis elementum felis ac sapien vehicula tempus. Curabitur sit amet nisi neque. Nam ac pulvinar diam, sed tempus felis. Etiam arcu massa, porttitor ac auctor quis, venenatis sit amet arcu. Sed luctus aliquam massa at posuere. Quisque fermentum diam ac nunc suscipit, vestibulum ullamcorper arcu auctor. Nulla molestie lectus at finibus malesuada. Sed sed leo fermentum nisi dictum condimentum laoreet eget tortor. Aliquam consequat sollicitudin dolor, eu vulputate nisl convallis sed. In hac habitasse platea dictumst.</p>
        </div>
