@using Resources
@{
    ViewBag.Title = "Home Page";
}

<link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/filmObject.css")" rel="stylesheet" type="text/css" />


        <div>
            <h3>Introduction - @Resource.String1</h3>
            <p>Welcome to Haarlem and welcome to the international Haarlem film festival. This year’s theme is The Science of Fiction / Celluloid Realism.</p>
            <p>Ever since Georges Méliès, film is pre- eminently the medium where experiments and vision go hand in hand. Countless directors envisioned with their films a future in which mechanisation and technology are omnipresent. And always the questions are the same: “In what way do man and machine influence each other and how does that affect our society”.</p>
            <p>Of all the images trusted to the celluloid only a few have come true. Reality is always more horrific than fantasy and now that technology is becoming increasingly important in our society new social and moral questions have to be answered. In 23 films and 10 ‘Specials’ we try to paint a picture of the salvation and disaster in our time and beyond.</p>
            <p>We hope you will enjoy it.</p>
        </div>
